* {
    padding: 0;
    margin: 0;
}

:root {
    --back: #808080;
    --back2: #80808080;
    --blackbord: 1px solid #000;
    --candy: #00800025;
}

table, tr, th, td {
    border: var(--blackbord);
    border-collapse: collapse;
    padding: 1rem;
    margin: 0 auto;
}

td {
    text-align: center;
}

thead tr:first-child{
    background-color: var(--back);
}

thead td{
    background-color: var(--back2);
}

thead td:first-child{
    background-color: white;
}

caption {
    caption-side: bottom;
}

tbody tr:nth-child(even) {
	background-color: var(--candy);
}