@media screen and (min-width: 800px) {
    header {
        justify-content: flex-start;
    }

    #menu {
        display: none;
    }

    #logo {
        margin: 0;
    }

    #navigation {
        display: flex;
        transform: none;
        transition: none;
        border: none;
        background-color: #fff;
        position: relative;
        margin: 0 0 0 auto;
        top: 0;
        padding: 0;
    }

    #navigation a {
        background-color: #fff;
        padding: 0;
    }

    #navigation a:nth-child(2),
    #navigation a:nth-child(3) {
        margin-left: 3rem;
    }

    #navigation a:hover {
        border-radius: 0.5rem;
        text-decoration: underline #0071B9 3px;
        text-underline-offset: 4px;
    }

    #social-head {
        display: block;
    }

    #join {
        right: 8rem;
    }

    #past-events {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 75%;
    }

    #board {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 10px auto;
    }

    #hero-txt {
        font-size: larger;
    }


    #spotlight {
        flex-direction: row;
    }

    #discover-main {
        display: grid;
        grid-template-columns: .5fr 1fr;

    }

    #discover-sidebar {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        height: 100%;
    }

    #discover-content {
        grid-column: 2/3;
        width: 75%;
        margin: 2rem auto;
    }

    #discover-content img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 0 5px 5px #FC513050;
    }

    .wf1 {
        flex-direction: row;
        align-items: flex-start;
    }

    #social-foot {
        display: none;
    }
}