@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }

    #logo {
        margin: 1rem auto 1rem 1rem;
    }

    #navigation {
        display: flex;
        transform: none;
        transition: none;
        right: 30%;
        top: 3rem;
        background-color: #00000020;
        border: none;

    }

    #navigation a {
        border: 1px solid #bbb;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 1rem;
    }

    #social-head {
        display: block;
    }

    #join {
        right: 8rem;
    }

    #weather {
        display: flex;
        margin: 0 auto;
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #weather div h3, #weather div p {
        display: inline-block;
    }
    
    #ten-day {
        display: flex;
        justify-content: right;
    }

    #past-events {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 75%;
    }

    #board {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 10px auto;
    }

    #social-foot {
        display: none;
    }
}