@media screen and (min-width: 800px) {
    #menu {
        display: none;
    }

    #navigation {
        display: block;
        transform: none;
        transition: none;
    }

    #weather {
        display: flex;
        margin: 0 auto;
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #weather div h3, #weather div p {
        display: inline-block;
    }
    
    #ten-day {
        display: flex;
        justify-content: right;
    }
}