*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', Helvetica, sans-serif;
}

header {
    background-color: #008b8b;
    color: #f0ffff;/* https://coolors.co/008b8b-cee0dc-afaab9-b48291 */
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: space-around;
}

header img {
    height: 175px;
    margin-right: 1rem;
    border-radius: 25%;
}

#dark-mode {
    background-color: #000;
	border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: #f0ffff;
	padding: 0.25rem 0.75rem;
	color: #000;
    cursor: pointer;
}

#dark-mode::before {
    content: "☀";
}

#dark-mode.dark::before {
    content: "☾";
}
#dark-mode.dark::after {
    content: ".";
    color: #000;
}

#dark-mode.dark {
    background-color: #000;
    color: #f0ffff;
}

.dark {
    background-color: #000000;
    color: #f0ffff;
}

#menu {
	font-size: 1.5rem;
	border: 5px solid #00000080;
    border-radius: 0.5rem;
	padding: 0.25rem 0.75rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    background-color: #AFAAB9;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.open a {
    display: block;
}

#home {
    background-color: #000;
    color: #AFAAB9;
}

#home:hover{
    color: #000;
    background-color: #f0ffff;
}

nav a {
    display: none;
    color: #000000;
    text-decoration: none;
    padding: .5rem;
    width: 100%;
    height: 100%;
}

nav a:hover {
    background-color: #f0ffff;
}

nav a.dark:hover {
    color: #000;
}

main {
    padding-top: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#hero {
    position: relative;
}

#hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#hero-txt {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: #00000080;
    color: #f0ffff;
    padding: 1rem;
    font-size: 1.5rem;
}

main #indexh1 {
    border-bottom: solid 1px #008b8b;
    margin-bottom: 1rem;
    width: 100%;
}

main h2 {
    background-color: #008b8b;
    border: solid 1px #008b8b;
    text-align: center;
    padding: 1rem;
}

main li {
    list-style-type: none;
    padding: .5em;
}

.card {
    border: solid 1px #008b8b;
    width: 100%;
    height: 100%;
}

#weather {
    display: flex;
    align-items: center;
    justify-content: center;
}

#activities {
    grid-row: 2/3;
    margin-bottom: 1em;
}

#information {
    justify-items: center;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
}

#info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#map {
    padding: 1rem;
}

footer {
    background-color: rgba(0, 139, 139, 0.5);
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

footer div {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 1rem;
}